{% extends 'main_base.html' %}
{% load static %}
{% block title %}
Unified Intake Sheet
{% endblock %}
{% block content %}
<style>
fieldset {
  background-color: #eeeeee;
}

legend {
  background-color: rgb(118, 165, 184);
  color: white;
  padding: 2px 5px;
}
.alert {
    padding: 15px;
    background-color: #cb5e61;
    color: white;
    margin-bottom: 15px;
    display: none; /* Hide the alert by default */
  }
</style>
<div class="row">
<div class="col-md-12"> 
     <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold" style="color: rgb(231, 171, 56)">UNIFIED INTAKE SHEET (UPDATE)</h6>
        </div>
        {% if messages %}
        <div id="myAlert" class="alert">
            {% for m in messages %}
            <strong>{{ m }}</strong>
            {% endfor %}
          </div>
          {% endif%}
       <div class="card-body">
        <form action="{% url 'process_update_uis' id_uis %}" method="POST">
            {% csrf_token %}
            <div class="row m-2 mb-4">
                <div class="col-md-3">
                    <label>Homis No.</label>
                    <input type="text" readonly class="form-control" value="{{ uis_details.hospno }}">
                   
                </div>      '
                
                <div class="col-md-3">
                    <label>Philhealth Number.</label>
                    <input type="text" class="form-control" name="phil_no" value="{{ uis_details.phil_no }}">
                   
                </div>      
               
            </div>
        <fieldset>
            <legend>INFORMANT</legend>
            <input type="hidden" value="{{ informant.informant }}" name="informant_upd">
        <div class="row m-2">
            <div class="col-md-3">
                <label>Name of Informant:</label>
                <input type="text" name="noi" id="noi" class="form-control" value="{{ informant.fullname }}" required oninput="this.value = this.value.toUpperCase()">
            </div>
            <div class="col-md-2">
                <label>Relation to Patient:</label>
                <input type="text" name="rtp" value="{{ informant.relation_to_patient }}" class="form-control" required oninput="this.value = this.value.toUpperCase()">
            </div>
            <div class="col-md-2">
                <label>Contact Number:</label>
                <input type="number" name="cnums" value="{{ informant.contact_number }}" class="form-control" required>
            </div>
            <div class="col-md-5">
                <label>Present Address:</label>
                <input type="text" name="pa" id="ipa" class="form-control" value="{{ informant.address }}" required oninput="this.value = this.value.toUpperCase()">
            </div>
        </div>
      
        <hr>
    </fieldset>
    <fieldset>
        <legend>I.IDENTIFYING INFORMATION</legend>
        <input type="hidden" value="{{ iden_info.identifyingInformation }}" name="iden_info_upd">
        <div class="row m-2">
            <div class="col-md-4">
                <label>Client Name:</label>
                <input  type="text" name="cn" class="form-control"  id="cn" value="{{ iden_info.client_name }}" required>
            </div>
            <div class="col-md-1">
                <label>Sex:</label>
                <input  type="text" name="gender" class="form-control" value="{{ iden_info.gender }}" required>
            </div>
            <div class="col-md-2">
                <label>Birthdate:</label>
                <input  type="date" name="bdate" class="form-control" value="{{ iden_info.dob }}" required>
            </div>
            <div class="col-md-1">
                <label>Age:</label>
                <input type="number" name="age" value="{{ iden_info.age }}" class="form-control" value="" required>
            </div>
            <div class="col-md-2">
                <label>Civil Status:</label>
                <input type="text" name="cs" value="{{ iden_info.cstat }}" class="form-control">
            </div>
            <div class="col-md-2">
                <label>Religion:</label>
                <input type="text" name="rel" class="form-control" value="{{ iden_info.religion }}" required oninput="this.value = this.value.toUpperCase()">
            </div>
        </div>
        <br>
        <div class="row m-2">
            <div class="col-md-2">
                <label>Nationality:</label>
                <input type="text" name="nat" class="form-control" value="{{ iden_info.nationality }}" required oninput="this.value = this.value.toUpperCase()">
            </div>
            <div class="col-md-3">
                <label>Highest Educational Attainment:</label>
                <!-- <input type="text" name="hea" class="form-control" required oninput="this.value = this.value.toUpperCase()"> -->
                <select name="hea" class="form-control" required>
                    <option value="{{ iden_info.hea }}" selected>{{ iden_info.hea }}</option>
                    <option disabled>-------------------</option>
                    <option value="NONE">NONE</option>
                    <option value="POST-GRADUATE">POST-GRADUATE</option>
                    <option value="COLLEGE">COLLEGE</option>
                    <option value="HIGH SCHOOL">HIGH SCHOOL</option>
                    <option value="ELEMENTARY">ELEMENTARY</option>
                   
                </select>
            </div>
            <div class="col-md-3">
                <label>Occupation:</label>
                <input type="text" name="occu" class="form-control" value="{{ iden_info.occupation}}" required oninput="this.value = this.value.toUpperCase()">
            </div>
            <div class="col-md-2">
                <label>Monthly Income:</label>
                <input type="text" name="mi" class="form-control" id ="get_mi" value="{{ iden_info.mi }}" required>
            </div>
            <div class="col-md-2">
                <label>Patient Type:</label>
                <input type="text" name="pt" class="form-control" value="{{ iden_info.patient_type }}">
            </div>
           
        </div>
        <div class="row m-2">
            <div class="col-md-4">
                <label>Place of Birth:</label>
                <input type="text" name="pob" class="form-control" value="{{ iden_info.pob}}" oninput="this.value = this.value.toUpperCase()">
            </div>
            <div class="col-md-4">
                <label>Permanent Address:</label>
                <input type="text" name="pea" value="{{ iden_info.permanent_address }}" class="form-control" required oninput="this.value = this.value.toUpperCase()">
            </div>
            <div class="col-md-4">
                <label>Present Address:</label>
                <input type="text" name="pra" value="{{ iden_info.present_address }}"  id="pra" class="form-control" required oninput="this.value = this.value.toUpperCase()">
            </div>
        </div>
        <hr>
    </fieldset>
    <fieldset>
        <legend>II.FAMILY COMPOSITION</legend>
        
        <button type="button" class="btn btn-primary float-right m-2" onclick="verify_category()"><i class="fa fa-thumbs-up">VERIFY</i></button>
        
        {% if uis_details.category %}
        <input type="hidden" name="klass" id="type_cat" value="{{ uis_details.category }}">
        <button class="btn btn-default float-right m-2"><b><font color="red"><span id="klass">{{ uis_details.category }}</span></font></b></button>
        {% else %}
            <input type="hidden" name="klass" id="type_cat">
            <button class="btn btn-default float-right m-2"><b><font color="red"><span id="klass"></span></font></b></button>
        {% endif %}
      
       
        <a href="#" class="btn btn-success float-left m-2"  data-toggle="modal" data-target="#addfamModal"><i class="fa fa-plus">FAMILY MEMBER</i></a>
        <a href="#" class="btn btn-warning float-left m-2"  data-toggle="modal" data-target="#addfamosofModal"><i class="fa fa-plus">OTHER SOURCE OF INCOME</i></a>

        <input type="hidden"  name="familycom" class="form-control" id="famcom_data">
        <input type="hidden" name="familycomosof" class="form-control" id="famcomosof_data">
        <input type="hidden" id="fam_mi_tot">
        <input type="hidden" id ="osof_tot" >
        <input type="hidden" id ="row_tot" name="housize" value="0">
        <input type="hidden" id ='num_famcom' value="{{ num_famcom }}">
        <input type="hidden" id="db_mi" value="{{ mi_tot }}">
        <input type="hidden" id="db_osof_mi" value="{{ osof_amt_tot }}">
     
       
        {% include 'includes/add_family.html' %}
        {% include 'includes/add_source_of_income.html' %}
        <br><br>
            <div class="row m-2">
                <div class="col-md-12 m-2">
                <table class="table table-bordered table-hover table-striped" width="100%" cellspacing="0">
                    <thead>
                        <th>NAME</th>
                        <th>SEX</th>
                        <th>Civil Status</th>
                        <th>Relation to Patient</th>
                        <th>Highest Educational Attainment</th>
                        <th>Occupation</th>
                        <th>Monthly Income</th>
                        <th>Age</th>
                        <th>Remove</th>
                 
                    </thead>
                    <tbody id="tbody">
                     
                    </tbody>
                    {% if famcom %}
                    {% for famcom in famcom %}
                <tfoot>
                    <tr>
                        <td>{{ famcom.fullname }}</td>
                        <td>{{ famcom.gender }}</td>
                        <td>{{ famcom.cstat }}</td>
                        <td>{{ famcom.relation_to_patient }}</td>
                        <td>{{ famcom.hea }}</td>
                        <td>{{ famcom.occupation }}</td>
                        <td>{{ famcom.mi }}</td>
                        <td>{{ famcom.age }}</td>
                        <td><a href="{% url 'del_famcom' id_uis famcom.familyComposition %}" ><i class="fa fa-trash"></i></a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                 </tfoot>
                </table>
            </div>
            </div>

            <div class="row m-2">
                <div class="col-md-12 m-2">
                <table class="table table-bordered table-hover table-striped" width="100%" cellspacing="0">
                    <thead>
                        <th>Other Sources of Income</th>
                        <th>Amount</th>
                        <th>Remove</th>
                       
                    
                    </thead>
                    <tbody id="tbodyosofi">
                       
                    </tbody>
                    <tfoot>
                        {% if famcom_osof %}
                        {% for famcom_osof in famcom_osof %}
                        <tr>
                            <td>{{ famcom_osof.otherSources_of_fi_desc }}</td>
                            <td>{{ famcom_osof.otherSources_of_fi }}</td>
                            <td ><a href="{% url 'del_famcom_osof' id_uis famcom_osof.fc_other_source %}"><i class="fa fa-trash"></i></a></td>
                           
                        </tr>
                        {% endfor %}
                        {% endif %}
                     </tfoot>
                </table>
            </div>
            </div>
            <!-- <a href="" class="btn btn-outline-danger float-right m-4"><i class="fa fa-thumbs-up">UPDATE FAMILY COMPOSITION</i></a> -->
    </fieldset>

    <fieldset>
        <legend>III. LIST OF EXPENSES</legend>
            <div class="row m-2">
               <input type="hidden" name="listofExpenses_upd" value="{{ loe.listofExpenses }}">
                <div class="col-md-4">
                    <label>HOUSE:</label>
                    <select name="le_house" class="form-control" required>

                        <option value="OWNED" {% if loe.house == 'OWNED' %} selected {% endif %}>OWNED</option>
                        <option value="RENTED" {% if loe.house == 'RENTED' %} selected {% endif %}>RENTED</option>
                        <option value="SHARED" {% if loe.house == 'SHARED' %} selected {% endif %}>SHARED</option>
                        <option value="GOVERNMENT" {% if loe.house == 'GOVERNMENT' %} selected {% endif %}>GOVERNMENT</option>
                        <option value="PRIVATE" {% if loe.house == 'PRIVATE' %} selected {% endif %}>PRIVATE</option>
                        <option value="OTHERS" {% if loe.house == 'OTHERS' %} selected {% endif %}>OTHERS</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Amount:</label>
                    {% if loe.amt_house %}
                    <input type="number" class="form-control" name="le_amt_house" id="exp_house" value="{{ loe.amt_house }}" required>
                    {% else %}
                    <input type="number" class="form-control" name="le_amt_house" id="exp_house" value="0" required>
                    {% endif %}
                </div>

                <div class="col-md-4">
                    <label>LOT:</label>
                    <select name="le_lot" class="form-control" required>
                        <option value="OWNED" {% if loe.lot == 'OWNED' %} selected {% endif %}>OWNED</option>
                        <option value="GOVERNMENT" {% if loe.lot == 'GOVERNMENT' %} selected {% endif %}>GOVERNMENT</option>
                        <option value="SHARED" {% if loe.lot == 'SHARED' %} selected {% endif %}>SHARED</option>
                        <option value="PRIVATE PROPERTY" {% if loe.lot == 'PRIVATE PROPERTY' %} selected {% endif %}>PRIVATE PROPERTY</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Amount:</label>
                    {% if loe.amt_lot %}
                    <input type="number" class="form-control" name="le_amt_lot" id="exp_lot" value="{{ loe.amt_lot }}" required>
                    {% else %}
                    <input type="number" class="form-control" name="le_amt_lot" id="exp_lot" value="0" required>
                    {% endif %}
                </div> 
                <div class="col-md-12 mt-4">
                <fieldset>
                    <legend  style="background-color: rgb(83, 151, 146);">Light Source</legend>
                    <div class="row">
                    <div class="col-md-3">
                   {% if ls.0 == 'ELECTRICITY' %}
                    <input type="checkbox" name="elec" checked>ELECTRICITY
                    <input type="number" class="form-control" name="amt_elec" id="exp_elec" value="{{ amt_ls.0 }}">
                    {% else %}
                    <input type="checkbox" name="elec">ELECTRICITY
                    <input type="number" class="form-control" name="amt_elec" id="exp_elec" value="0">
                    {% endif %}
                    </div>
                    <div class="col-md-3">
                        {% if ls.1 == 'KEROSENE' %}
                        <input type="checkbox" name="kero" checked>KEROSENE
                        <input type="number" class="form-control" name="amt_kero" id="exp_kero" value="{{ amt_ls.1 }}">
                        {% else %}
                        <input type="checkbox" name="kero">KEROSENE
                        <input type="number" class="form-control" name="amt_kero" id="exp_kero" value="0">
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        {% if ls.2 == 'CANDLE' %}
                        <input type="checkbox" name="cand" checked>CANDLE
                        <input type="number" class="form-control" name="amt_cand" id="exp_cand" value="{{ amt_ls.2 }}">
                        {% else %}
                        <input type="checkbox" name="cand">CANDLE
                        <input type="number" class="form-control" name="amt_cand" id="exp_cand" value="0">
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        {% if ls.3 == 'OTHERS' %}
                        <input type="checkbox" name="oth" checked>OTHERS
                        <input type="number" class="form-control" name="amt_oth" id="exp_ls_oth" value="{{ amt_ls.3 }}">
                        {% else %}
                        <input type="checkbox" name="oth">OTHERS
                        <input type="number" class="form-control" name="amt_oth" id="exp_ls_oth" value="0">
                        {% endif %}
                    </div>
                    </div>
                </fieldset>
                </div>
                <div class="col-md-12 mt-4">
                    <fieldset>
                        <legend  style="background-color: rgb(83, 151, 146);">Water Source</legend>
                        <div class="row">
                        <div class="col-md-3">
                      {% if ws.0 == 'PUBLIC' %}
                        <input type="checkbox" name="pub" checked>PUBLIC
                        <input type="number" class="form-control" name="amt_pub" id="exp_public" value="{{ amt_ws.0 }}">
                        {% else %}
                        <input type="checkbox" name="pub">PUBLIC
                        <input type="number" class="form-control" name="amt_pub" id="exp_public" value="0">
                        {% endif %}
                        </div>
                        <div class="col-md-3">
                            {% if ws.1 == 'NATURAL' %}
                            <input type="checkbox" name="natu" checked>NATURAL
                            <input type="number" class="form-control" name="amt_nat" id="exp_nat" value="{{ amt_ws.1 }}">
                            {% else %}
                            <input type="checkbox" name="natu">NATURAL
                            <input type="number" class="form-control" name="amt_nat" id="exp_nat" value="0">
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            {% if ws.2 == 'WATERDISTRICT' %}
                            <input type="checkbox" name="wd" checked>WATER DISTRICT
                            <input type="number" class="form-control" id="exp_wd" name="amt_wd" value="{{ amt_ws.2 }}">
                            {% else %}
                            <input type="checkbox" name="wd">WATER DISTRICT
                            <input type="number" class="form-control" id="exp_wd" name="amt_wd" value="0">
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            {% if ws.3 == 'MINERAL' %}
                            <input type="checkbox" name="min" checked>MINERAL/BUY
                            <input type="number" class="form-control" name="amt_min" id="exp_min" value="{{ amt_ws.3 }}">
                            {% else %}
                            <input type="checkbox" name="min">MINERAL/BUY
                            <input type="number" class="form-control" name="amt_min" id="exp_min" value="0">
                            {% endif %}
                        </div>
                        </div>
                    </fieldset>
                    </div>
                    <div class="col-md-12 mt-4">
                        <fieldset>
                            <legend  style="background-color: rgb(83, 151, 146);">OTHER EXPENSES</legend>
                            <div class="row">
                            <div class="col-md-4">
                                {% if new_oe.0 == 'HOUSE' %}
                                <input type="checkbox" name="house" checked>HOUSEHELP
                                <input type="number" class="form-control" value="{{ new_amt_oe.0 }}" id="exp_househelp" name="amt_house">
                                {% else %}
                                <input type="checkbox" name="house">HOUSEHELP
                                <input type="number" class="form-control" value="0" id="exp_househelp" name="amt_house">
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {% if new_oe.3 == 'EDU' %}
                                <input type="checkbox" name="edu" checked>EDUCATION
                                <input type="number" class="form-control" value="{{ new_amt_oe.3 }}" id="exp_educ" name="amt_edu">
                                {% else %}
                                <input type="checkbox" name="edu">EDUCATION
                                <input type="number" class="form-control" value="0" id="exp_educ" name="amt_edu">
                                {% endif %}
                              
                            </div>
                            <div class="col-md-4">
                                {% if new_oe.6 == 'FOOD' %}
                                <input type="checkbox" name="food" checked>FOOD
                                <input type="number" class="form-control" value="{{ new_amt_oe.6 }}" id="exp_food" name="amt_food">
                                {% else %}
                                <input type="checkbox" name="food">FOOD
                                <input type="number" class="form-control" value="0" id="exp_food" name="amt_food">
                                {% endif %}
                            </div>
                            
                            <div class="col-md-4">
                                {% if new_oe.1 == 'ME' %}
                                <input type="checkbox" name="me" checked>MEDICAL EXPENDITURES
                                <input type="number" class="form-control" id="exp_me" value="{{ new_amt_oe.1 }}" name="amt_me">
                                {% else %}
                                <input type="checkbox" name="me">MEDICAL EXPENDITURES
                                <input type="number" class="form-control" id="exp_me" value="0" name="amt_me">
                                {% endif %}
                              
                            </div>
                            <div class="col-md-4">
                                {% if new_oe.4 == 'LOAN' %}
                                <input type="checkbox" name="loan" checked>LOAN
                                <input type="number" class="form-control" id="exp_loan" value="{{ new_amt_oe.4 }}" name="amt_loan">
                                {% else %}
                                <input type="checkbox" name="loan">LOAN
                                <input type="number" class="form-control" id="exp_loan" value="0" name="amt_loan">
                                {% endif %}
                               
                                </div>
                                <div class="col-md-4">
                                    {% if new_oe.7 == 'SAVINGS' %}
                                    <input type="checkbox" name="saving" checked>SAVINGS
                                    <input type="number" class="form-control" id="exp_saving" value="{{ new_amt_oe.7 }}" name="amt_saving">
                                    {% else %}
                                    <input type="checkbox" name="saving">SAVINGS
                                    <input type="number" class="form-control" id="exp_saving" value="0" name="amt_saving">
                                    {% endif %}
                                    
                                </div>
                                <div class="col-md-4">
                                    {% if new_oe.2 == 'IP' %}
                                    <input type="checkbox" name="ip" checked>INSURANCE PREMIUM
                                    <input type="number" class="form-control" id="exp_ip" value="{{ new_amt_oe.2 }}" name="amt_ip">
                                    {% else %}
                                    <input type="checkbox" name="ip">INSURANCE PREMIUM
                                    <input type="number" class="form-control" id="exp_ip" value="0" name="amt_ip">
                                    {% endif %}
                                    
                                </div>
                                <div class="col-md-4">
                                    {% if new_oe.5 == 'TRANSPO' %}
                                    <input type="checkbox" name="transpo" checked>TRANSPORTATION
                                    <input type="number" class="form-control" id="exp_transpo" value="{{ new_amt_oe.5 }}" name="amt_transpo">
                                    {% else %}
                                    <input type="checkbox" name="transpo">TRANSPORTATION
                                    <input type="number" class="form-control" id="exp_transpo" value="0" name="amt_transpo">
                                    {% endif %}
                                    
                                    </div>
                                    <div class="col-md-4">
                                        {% if new_oe.8 == 'OTHER' %}
                                        <input type="checkbox" name="other" checked>OTHERS
                                        <input type="number" class="form-control" id="exp_oth" value="{{ new_amt_oe.8 }}" name="amt_other">
                                         {% else %}
                                         <input type="checkbox" name="other">OTHERS
                                         <input type="number" class="form-control" id="exp_oth" value="0" name="amt_other">
                                        {% endif %}
                                      
                                    </div>
                            </div>
                        </fieldset>
                        <div class="row m-2">
                        <div class="col-md-6">
                            <label onclick="get_total_expenses()"><b>TOTAL EXPENSES:</b></label>
                            <input onclick="get_total_expenses()" title="TOTAL EXPENSES" type="text" value="{{ uis_details.total_expense }}"  name="tot_expense"  id ="tot_exps" required class="form-control">
                        </div>

                        <div class="col-md-6">
                            <label><b>TOTAL INCOME:</b></label>
                            <input title="TOTAL Income" type="text" name="tot_income" value="{{ uis_details.total_income }}" id ="tot_incomes" required class="form-control">
                        </div>
                    </div>

                 </div>       
            </div>          
    </fieldset>
    <fieldset>
        <legend>IV. PROBLEM PRESENTED (Problemang Idinulog)</legend>
        <input type="hidden" name="problemPresented_upd" value="{{ probpres_id }}">
            <div class="row m-2">
                <div class="col-md-4">
                    {% if fproblem.0 == 'HCOP' %}
                    <input type="checkbox" checked name="hcop">HEALTH CONDITION OF PATIENT(specify)
                    <input type="text" value="{{f_prob_desc.0 }}" oninput="this.value = this.value.toUpperCase()" id="comaR" class="form-control" name="hcop_desc">
                    {% else %}
                    <input type="checkbox"  name="hcop">HEALTH CONDITION OF PATIENT(specify)
                    <input type="text" value="" oninput="this.value = this.value.toUpperCase()" id="comaR" class="form-control" name="hcop_desc">
                    {% endif %}
               
                </div>
                <div class="col-md-4">
                    {% if fproblem.1 == 'FN' %}
                    <input type="checkbox"  name="fn" checked>FOOD/NUTRITION (specify)
                    <input type="text" value="{{f_prob_desc.1 }}" oninput="this.value = this.value.toUpperCase()" class="form-control" name="fn_desc">
                    {% else %}
                    <input type="checkbox" name="fn">FOOD/NUTRITION (specify)
                    <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" name="fn_desc">
                    {% endif %}
              
                </div>
                <div class="col-md-4">
                    {% if fproblem.2 == 'EMP' %}
                    <input type="checkbox" name="emp" checked>EMPLOYMENT (specify)
                    <input type="text" value="{{f_prob_desc.2 }}" oninput="this.value = this.value.toUpperCase()" class="form-control" name="emp_desc">
                    {% else %}
                    <input type="checkbox" name="emp">EMPLOYMENT (specify)
                    <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" name="emp_desc">
                    {% endif %}
              
                </div>
            </div>
            <div class="row m-2">
                <div class="col-md-4">
                    {% if fproblem.3 == 'ERS' %}
                    <input type="checkbox" name="ers" checked>ECONOMIC RESOURCES (specify)
                    <input type="text" value="{{f_prob_desc.3 }}" oninput="this.value = this.value.toUpperCase()" class="form-control" name="ers_desc">
                    {% else %}
                    <input type="checkbox" name="ers">ECONOMIC RESOURCES (specify)
                    <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" name="ers_desc">
                    {% endif %}
                
                </div>
                <div class="col-md-4">
                    {% if fproblem.4 == 'HS' %}
                    <input type="checkbox" name="hs" checked>HOUSING (specify)
                    <input type="text" value="{{f_prob_desc.4 }}" oninput="this.value = this.value.toUpperCase()" class="form-control" name="hs_desc">
                    {% else %}
                    <input type="checkbox" name="hs">HOUSING (specify)
                    <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" name="hs_desc">
                    {% endif %}
                
                </div>
                <div class="col-md-4">
                    {% if fproblem.5 == 'OSY' %}
                    <input type="checkbox" checked name="osy">OTHERS (specify)
                    <input type="text" oninput="this.value = this.value.toUpperCase()" value="{{f_prob_desc.5 }}" class="form-control" name="osy_desc">
                    {% else %}
                    <input type="checkbox" name="osy">OTHERS (specify)
                    <input type="text" oninput="this.value = this.value.toUpperCase()"  class="form-control" name="osy_desc">
                    {% endif %}
               
                </div>
            </div>
            <hr>
    </fieldset>
    <fieldset>
        <legend>V. SOCIAL WORKER'S ASSESSMENT (Pagtatasa ng Social Worker)</legend>
            <div class="row m-2">
                <input type="hidden"  name="swa_upd" value="{{ swa_desc.swa }}">
                <div class="col-md-12 mb-5">
                    <label>Chief Complain</label>
                    {% if fproblem.0 == 'HCOP' %}
                    <input type="text" value="{{f_prob_desc.0 }}" class="form-control">
                    {% endif %}
                </div> 
                <div class="col-md-12">
                    {% if swa_desc %}
                    <textarea name="swa" id="" class="form-control"  rows="5" oninput="this.value = this.value.toUpperCase()" required>{{ swa_desc.swa_desc }}</textarea>
                    {% else %}
                    <textarea name="swa" id="" class="form-control"  rows="5" oninput="this.value = this.value.toUpperCase()" required></textarea>
                    {% endif %}
                </div>
            </div>
    </fieldset>

    <fieldset>
        <legend>VI. RECOMMENDATIONS (Rekomendasyon)</legend>
        <a href="#" class="btn btn-success float-right m-2"  data-toggle="modal" data-target="#recomModal">ADD</a>
        <input type="hidden" class="form-control" name="reccomdata" id="reccom_data">
        {% include 'includes/reccomendations.html' %}
        <br><br>
            <div class="row m-2">
                <div class="col-md-12">
                  <table class="table table-bordered table-hover table-striped"  width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>TYPE OF ASSISTANCE</th>
                            <th>AMOUNT OF ASSISTANCE</th>
                            <th>MODE OF ASSISTANCE</th>
                            <th>FUND SOURCE</th>
                            <th>REMOVE</th>
                        </tr>
                    </thead>
                    <tbody id="rtbody">
                    </tbody>
                    {% if reccom %}
                    {% for reccom in reccom %}
                    <tr>
                        <td>{{ reccom.type_of_assistance }}</td>
                        <td>{{ reccom.amt_of_assistance }}</td>
                        <td>{{ reccom.mode_of_assistance }}</td>
                        <td>{{ reccom.fund_source }}</td>
                        <td><a href="{% url 'del_reccom' id_uis reccom.recommendation %}"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </table>

                </div>
            </div>
    </fieldset>

    <hr>

 
    <!-- <button style="color: rgb(231, 171, 56)" class="btn btn-success text-white float-right m-2">PRINT UIS</button> -->
    <button type="submit" style="color: rgb(231, 171, 56)" class="btn btn-warning text-white float-right m-2">UPDATE UIS</button>

</div>
</form>
</div>
</div>
</div> 
<script>
    family_composition = []
    recommendations = []
    famcom_set_of_data = []
    reccom_set_of_data = []
    famcom_osof = []
    famcomosof_set_of_data = []
    set_of_mi = []
    set_of_mi_osof = []
    
    function delArray(num){
        family_composition.splice(num,1);
        const outputDiv = document.getElementById('tbody');
        outputDiv.innerHTML = ''; // Clear previous content
        document.getElementById('famcom_data').value='';
        document.getElementById('fam_mi_tot').value = 0;
        document.getElementById('row_tot').value = 0;
        set_of_mi = []
        famcom_set_of_data = []
        function updateuis(){
            let new_family_composition = family_composition
            // console.log(new_family_composition)
            new_family_composition.forEach((data,index) => {
            cname = data[0];
            gender = data[1];
            cstat = data[2];
            rtp = data[3];
            hea = data[4];
            occu = data[5];
            mi = data[6];
            fage = data[7]
            k =index;

            var row_num = k + 1
            document.getElementById('row_tot').value = row_num;

            set_of_mi.push(parseFloat(mi))
            total_sum_mi = 0
            for (let q = 0; q < set_of_mi.length; q++) {
            total_sum_mi += set_of_mi[q];
             // console.log(total_sum_mi)
            document.getElementById('fam_mi_tot').value = total_sum_mi;
        }

            famcomDataArray = {cname,gender,cstat,rtp,hea,occu,mi,fage}
            famcom_set_of_data.push(famcomDataArray);
            let famsArray = JSON.stringify(famcom_set_of_data);
            document.getElementById('famcom_data').value = famsArray;
            });
            
            // console.log(new_family_composition)

            var tbody = document.getElementById('tbody');
            tbody.innerHTML = ''
            for (var i = 0; i < new_family_composition.length; i++) {
            var row = document.createElement('tr');
            for (var j = 0; j < new_family_composition[i].length; j++) {
            var cell = document.createElement('td');
            cell.textContent = new_family_composition[i][j];
            row.appendChild(cell);
        
        } 
        var deleteButtonCell = document.createElement('td');
        var deleteButton = document.createElement('i');
        deleteButton.className = 'fa fa-trash';
        deleteButton.setAttribute('onclick', 'delArray("' + i + '")');

        deleteButtonCell.appendChild(deleteButton);
        row.appendChild(deleteButtonCell);
        tbody.appendChild(row);
        
        }

        }
        updateuis();
    }
    
    
    function add_famcom(){
        var cname = document.getElementById('cname').value || '';
        var gender = document.getElementById('mgender').value || '';
        var cstat = document.getElementById('mcstat').value || '';
        var rtp = document.getElementById('mrtp').value || '';
        var hea = document.getElementById('mhea').value || '';
        var occu = document.getElementById('moccu').value || '';
        var mi = document.getElementById('mim').value || '';
        var fage = document.getElementById('mage').value || '';
        

        famArray = [cname,gender,cstat,rtp,hea,occu,mi,fage];
        family_composition.push(famArray);
        // console.log(family_composition);
        family_composition.forEach((data,index) => {
        cname = data[0];
        gender = data[1];
        cstat = data[2];
        rtp = data[3];
        hea = data[4];
        occu = data[5];
        mi = data[6];
        fage = data[7]
        kk =index;
    });
   var row_num = kk + 1
    document.getElementById('row_tot').value = row_num;
    
    var tbody = document.getElementById('tbody');
    tbody.innerHTML = ''
    for (var i = 0; i < family_composition.length; i++) {
        var row = document.createElement('tr');
        for (var j = 0; j < family_composition[i].length; j++) {
            var cell = document.createElement('td');
            cell.textContent = family_composition[i][j];
            row.appendChild(cell);
        
        } 
    var deleteButtonCell = document.createElement('td');
    var deleteButton = document.createElement('i');
    deleteButton.className = 'fa fa-trash';
    deleteButton.setAttribute('onclick', 'delArray("' + i + '")');
    deleteButtonCell.appendChild(deleteButton);
    row.appendChild(deleteButtonCell);
    tbody.appendChild(row);
       
    }
    set_of_mi.push(parseFloat(mi))
    total_sum_mi = 0
    for (let q = 0; q < set_of_mi.length; q++) {
        total_sum_mi += set_of_mi[q];
        // console.log(total_sum_mi)
        document.getElementById('fam_mi_tot').value = total_sum_mi;
        }
    function clear_inputs(){
        document.getElementById('cname').value = '';
        document.getElementById('mrtp').value = '';
        document.getElementById('mhea').value = '';
        document.getElementById('mage').value = 0;
        document.getElementById('mim').value = 0;
        }
clear_inputs();  

        famcomDataArray = {cname,gender,cstat,rtp,hea,occu,mi,fage}
        famcom_set_of_data.push(famcomDataArray);
        let famsArray = JSON.stringify(famcom_set_of_data);
        document.getElementById('famcom_data').value = famsArray;
    }

    function delArrayreccom(no){
        recommendations.splice(no,1);
        const outputDiv = document.getElementById('rtbody');
        outputDiv.innerHTML = ''; // Clear previous content
        document.getElementById('reccom_data').value='';
        reccom_set_of_data = []
    function updatereccom(){
            let new_recommendations = recommendations
            new_recommendations.forEach((data,index) => {
            mtoa = data[0];
            maos = data[1];
            mmoa = data[2];
            mfs = data[3];
            q =index;  
            
        reccomDataArray = {mtoa,maos,mmoa,mfs}
        reccom_set_of_data.push(reccomDataArray);
        let recArray = JSON.stringify(reccom_set_of_data);
        document.getElementById('reccom_data').value = recArray;

    });

    var rtbody = document.getElementById('rtbody');
    rtbody.innerHTML = ''
    for (var i = 0; i < recommendations.length; i++) {
        var row = document.createElement('tr');
        for (var j = 0; j < recommendations[i].length; j++) {
            var cell = document.createElement('td');
            cell.textContent = recommendations[i][j];
            row.appendChild(cell);
        } 
        var deleteButtonCell = document.createElement('td');
        var deleteButton = document.createElement('i');
        deleteButton.className = 'fa fa-trash';
        deleteButton.setAttribute('onclick', 'delArrayreccom("' + i + '")');

        deleteButtonCell.appendChild(deleteButton);
        row.appendChild(deleteButtonCell);
        rtbody.appendChild(row);
     

    }
        }
        updatereccom();
    }

    function add_reccom(){
        var mtoa = document.getElementById('mtoa').value || '';
        var maos = document.getElementById('maos').value || '';
        var mmoa = document.getElementById('mmoa').value || '';
        var mfs = document.getElementById('mfs').value || '';

        reccomArray = [mtoa,maos,mmoa,mfs];
        recommendations.push(reccomArray);
        // console.log(reccomArray)

        recommendations.forEach((data,index) => {
        mtoa = data[0];
        maos = data[1];
        mmoa = data[2];
        mfs = data[3];
        q =index;  
    });

    var rtbody = document.getElementById('rtbody');
    rtbody.innerHTML = ''
    for (var i = 0; i < recommendations.length; i++) {
        var row = document.createElement('tr');
        for (var j = 0; j < recommendations[i].length; j++) {
            var cell = document.createElement('td');
            cell.textContent = recommendations[i][j];
            row.appendChild(cell);
        } 
        var deleteButtonCell = document.createElement('td');
        var deleteButton = document.createElement('i');
        deleteButton.className = 'fa fa-trash';
        deleteButton.setAttribute('onclick', 'delArrayreccom("' + i + '")');

        deleteButtonCell.appendChild(deleteButton);
        row.appendChild(deleteButtonCell);
        rtbody.appendChild(row);
    }

    function clear_input(){
       
        document.getElementById('maos').value = '';
        document.getElementById('mmoa').value = '';
        document.getElementById('mfs').value = '';
        
        }
        clear_input();  

        reccomDataArray = {mtoa,maos,mmoa,mfs}
        reccom_set_of_data.push(reccomDataArray);
        let recArray = JSON.stringify(reccom_set_of_data);
        document.getElementById('reccom_data').value = recArray;
        
    }

    function delArrayosof(qwe){
        famcom_osof.splice(qwe,1);
        const outputDiv = document.getElementById('tbodyosofi');
        outputDiv.innerHTML = ''; // Clear previous content
        document.getElementById('famcomosof_data').value='';
        document.getElementById('osof_tot').value = 0;
        famcomosof_set_of_data = []
        set_of_mi_osof = []
    function updateosof(){
            let new_famcom_osof = famcom_osof
            new_famcom_osof.forEach((data,index) => {
            desc_osof = data[0];
            amt_osof = data[1];
            m =index;
    
    var d = 0
    if(desc_osof === 'CCT'){
             d = amt_osof/2
            }else{
              d = amt_osof
            }
    set_of_mi_osof.push(parseFloat(d))
    total_sum_mi_osof = 0
    for (let b = 0; b < set_of_mi_osof.length; b++) {
            total_sum_mi_osof += set_of_mi_osof[b];
            console.log(total_sum_mi_osof)
            document.getElementById('osof_tot').value = total_sum_mi_osof
            }

            famcomosofDataArray = {desc_osof,amt_osof}
        famcomosof_set_of_data.push(famcomosofDataArray);
        let famsosofArray = JSON.stringify(famcomosof_set_of_data);
        document.getElementById('famcomosof_data').value = famsosofArray;

    });

    var tbody = document.getElementById('tbodyosofi');
        tbody.innerHTML = ''
        for (var i = 0; i < famcom_osof.length; i++) {
        var row = document.createElement('tr');
        for (var j = 0; j < famcom_osof[i].length; j++) {
            var cell = document.createElement('td');
            cell.textContent = famcom_osof[i][j];
            row.appendChild(cell);
        }
        var deleteButtonCell = document.createElement('td');
        var deleteButton = document.createElement('i');
        deleteButton.className = 'fa fa-trash';
        deleteButton.setAttribute('onclick', 'delArrayosof("' + i + '")');

        deleteButtonCell.appendChild(deleteButton);
        row.appendChild(deleteButtonCell);
        tbody.appendChild(row);

    }
        }
        updateosof();
    }

    function add_famcomosof(){
        var desc_osof = document.getElementById('desc_osof').value || '';
        var amt_osof= document.getElementById('amt_osof').value || '';

        fcosofArray =[desc_osof,amt_osof];
        famcom_osof.push(fcosofArray);
        famcom_osof.forEach((data,index) => {
        desc_osof = data[0];
        amt_osof = data[1];
        m =index;
    });

        var tbody = document.getElementById('tbodyosofi');
        tbody.innerHTML = ''
        for (var i = 0; i < famcom_osof.length; i++) {
        var row = document.createElement('tr');
        for (var j = 0; j < famcom_osof[i].length; j++) {
            var cell = document.createElement('td');
            cell.textContent = famcom_osof[i][j];
            row.appendChild(cell);
        } 
        var deleteButtonCell = document.createElement('td');
        var deleteButton = document.createElement('i');
        deleteButton.className = 'fa fa-trash';
        deleteButton.setAttribute('onclick', 'delArrayosof("' + i + '")');

        deleteButtonCell.appendChild(deleteButton);
        row.appendChild(deleteButtonCell);
        tbody.appendChild(row);
    }
    var d = 0
    if(desc_osof === 'CCT'){
             d = amt_osof/2
            }else{
              d = amt_osof
            }
    set_of_mi_osof.push(parseFloat(d))
    total_sum_mi_osof = 0
 
    for (let b = 0; b < set_of_mi_osof.length; b++) {
            total_sum_mi_osof += set_of_mi_osof[b];
            console.log(total_sum_mi_osof)
            document.getElementById('osof_tot').value = total_sum_mi_osof
            }
            
    function clear_input(){
        document.getElementById('desc_osof').value = '';
        document.getElementById('amt_osof').value = '';
        }
        clear_input();  

        famcomosofDataArray = {desc_osof,amt_osof}
        famcomosof_set_of_data.push(famcomosofDataArray);
        let famsosofArray = JSON.stringify(famcomosof_set_of_data);
        document.getElementById('famcomosof_data').value = famsosofArray;

    }

    function verify_category(){
        let total_mi =0
        var pat_mi = parseFloat(document.getElementById('get_mi').value || 0);
        var fam_mi = parseFloat(document.getElementById('fam_mi_tot').value || 0);
        var other_mi = parseFloat(document.getElementById('osof_tot').value || 0);
        var tot_row =parseFloat(document.getElementById('row_tot').value || 0);
        var num_famcom = parseFloat(document.getElementById('num_famcom').value || 0);
        var db_mi = parseFloat(document.getElementById('db_mi').value || 0);
        var db_osof_mi = parseFloat(document.getElementById('db_osof_mi').value || 0);
        
        tot_incomes = pat_mi + fam_mi + other_mi + db_mi + db_osof_mi
        document.getElementById('tot_incomes').value = tot_incomes
        total_mi = (pat_mi + fam_mi + other_mi + db_mi + db_osof_mi)/(tot_row + num_famcom + 1)
        console.log(total_mi)

        if(total_mi <= 3343){
            klass = "C3" 
        }else if(total_mi >= 3343 && total_mi <= 4297){
            klass ="C2"
        }else if(total_mi >= 4298 && total_mi <=5353){
            klass="C1"
        }else if(total_mi >= 5354){
            klass = "B"
        }else{
            klass = "?"
        }
        console.log(klass)
        document.getElementById('klass').textContent = klass;
        document.getElementById('type_cat').value = klass;

        function replaceCommas() {
    // Get the input field
    var inputField = document.getElementById("comaR");
    var originalValue = inputField.value;
    var replacedValue = originalValue.replace(/,/g, ";");
    inputField.value = replacedValue;
    }
    replaceCommas();
    }

    function get_total_expenses(){
        let exp_total = 0
        var house = parseFloat(document.getElementById('exp_house').value || 0)
        var lot = parseFloat(document.getElementById('exp_lot').value || 0)
        var elec = parseFloat(document.getElementById('exp_elec').value || 0)
        var kero = parseFloat(document.getElementById('exp_kero').value || 0)
        var cand = parseFloat(document.getElementById('exp_cand').value || 0)
        var ls_others = parseFloat(document.getElementById('exp_ls_oth').value || 0)
        var public = parseFloat(document.getElementById('exp_public').value || 0)
        var natural = parseFloat(document.getElementById('exp_nat').value || 0)
        var wd = parseFloat(document.getElementById('exp_wd').value || 0)
        var mineral = parseFloat(document.getElementById('exp_min').value || 0)
        var househelp = parseFloat(document.getElementById('exp_househelp').value || 0)
        var education = parseFloat(document.getElementById('exp_educ').value || 0)
        var food = parseFloat(document.getElementById('exp_food').value || 0)
        var medexp = parseFloat(document.getElementById('exp_me').value || 0)
        var loan = parseFloat(document.getElementById('exp_loan').value || 0)
        var saving = parseFloat(document.getElementById('exp_saving').value || 0)
        var ip = parseFloat(document.getElementById('exp_ip').value || 0)
        var transpo = parseFloat(document.getElementById('exp_transpo').value || 0)
        var oth = parseFloat(document.getElementById('exp_oth').value || 0)

        exp_total = house + lot + elec + kero + cand + ls_others + public + natural + wd + mineral + househelp + education + food + medexp + loan + saving + ip + transpo + oth
        document.getElementById('tot_exps').value = exp_total
        console.log(exp_total)
    }

</script>

<script>
    function showAlert(message, duration) {
    var alertDiv = document.getElementById("myAlert");
      alertDiv.innerHTML =   message;
      alertDiv.style.display = "block"; 
  
      setTimeout(function() {
        alertDiv.style.display = "none"; 
      }, duration);
    }
    showAlert("SUCCESSFULLY UPDATED", 3000);
  </script>
{% endblock %}